/*-----GLOBAL STYLING ELEMENTS-----*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --p-color: rgb(57, 41, 146);
    --s-color: rgb(185, 65, 185);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/*-----HEADER STYLING ELEMENTS-----*/
header {
    display: flex;
    padding: 20px 40px;
    font-size: 20px;
    justify-content: space-between;
}

.highScore {
    color: var(--s-color);
}

/*-----MAIN BODY STYLING ELEMENTS-----*/

.display {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 50px;
    margin: auto;
    align-content: center;
}

.h2Heading {
    padding: 20px;
    font-size: 36px;
}

.instruction {
    font-size: 26px;
    padding: 20px;
}

.instruction span {
    display: inline;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn {
    padding: 10px;
    background-color: var(--p-color);
    color: white;
    padding: 10px 30px;
    font-size: 26px;
    margin: 30px;
    border-radius: 15px;
    border: none;
}

.btn:hover {
    background-color: var(--s-color);
}

.footContainer {
    color: grey;
    padding: 10px 40px;
    font-size: 24px;
    border-top: grey solid 1px;
}

.inputName {
    font-size: 26px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
}

.submitBtn {
    margin: 0 10px;

}

.myName {
    margin: 0 10px;
    padding: 7px;
    font-size: 26px;
    border: 1px solid grey;    
}

.myName:focus {
    outline: none;
    border: 1px solid var(--s-color);
}