/*-----GLOBAL STYLING ELEMENTS-----*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --p-color: rgb(57, 41, 146);
    --s-color: rgb(185, 65, 185);
    --foot-color: rgb(128, 128, 128, 0.5);
    --p-color-transp: rgb(57, 41, 146, 0.2);
    --grey-color-transp: rgb(128, 128, 128, 0.2);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/*-----HEADER STYLING ELEMENTS-----*/
header {
    display: flex;
    padding: 20px 40px;
    font-size: 20px;
    justify-content: space-between;
}

.highScore {
    color: var(--s-color);
}

/*-----MAIN BODY STYLING ELEMENTS-----*/

.display {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 50px;
    margin: auto;
}

.h2Heading {
    padding: 20px;
    font-size: 36px;
}

.instruction {
    font-size: 26px;
    padding: 20px;
}

.instruction p {
    padding: 5px;
}

.instruction span {
    display: inline;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn {
    padding: 10px;
    background-color: var(--p-color);
    color: white;
    padding: 10px 30px;
    font-size: 26px;
    margin: 20px;
    border-radius: 15px;
    border: none;
}

.btn:hover {
    background-color: var(--s-color);
}

.footContainer {
    color: var(--foot-color);
    padding: 10px 40px;
    font-size: 24px;
    border-top: var(--foot-color) solid 1px;
}

.inputName {
    font-size: 26px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.submitBtn {
    margin: 0 10px;

}

.myName {
    margin: 0 10px;
    padding: 7px;
    font-size: 26px;
    border: 1px solid grey;    
}

.myName:focus {
    outline: none;
    border: 1px solid var(--s-color);
}

.scoreList {
    margin: 0 10px;
    font-size: 24px;
}

.listLine {
    padding: 5px 20px;
    margin: 10px 0;
    list-style-position: inside;
    background-color: var(--p-color-transp);
    border-radius: 15px;
}

.listLine:nth-child(2n) {
    background-color: var(--grey-color-transp);
}

.inHighScore {
    display: inline-block;
    margin: 20px;
}

.btnException {
    display: flex;
    flex-wrap: wrap;
}