/*-----GLOBAL STYLING ELEMENTS-----*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --p-color: rgb(57, 41, 146);
    --s-color: rgb(185, 65, 185);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/*-----HEADER STYLING ELEMENTS-----*/
header {
    display: flex;
    padding: 20px 40px;
    font-size: 20px;
    justify-content: space-between;
}

.highScore {
    color: var(--s-color);
}

/*-----MAIN BODY STYLING ELEMENTS-----*/

.display {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 50px;
    margin: auto;
    text-align: center;
}

.h2Heading {
    padding: 20px;
    font-size: 36px;
}

.instruction {
    font-size: 20px;
}

.btn {
    padding: 10px;
    background-color: var(--p-color);
    color: white;
    padding: 10px 30px;
    font-size: 22px;
    margin: 20px;
    border-radius: 15px;
    border: none;
}

.btn:hover {
    background-color: var(--s-color);
}